@import url(//db.onlinewebfonts.com/c/0b9856633d4311a19df074ea509d8390?family=Constantia);
@font-face {
    font-family: "Constantia";
    src: url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.eot");
    src: url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.svg#Constantia") format("svg");
}

body,
#footer {
    font-family: "Constantia", sans-serif;
}

a {
    text-decoration: none !important;
}

.nufypet,
.sat,
.nis,
.unt,
.englishKids,
.englishAdults {
    display: none;
}

.container-fluid {
    position: relative;
    top: 80px;
}

table a {
    font-size: 120%;
    font-weight: bolder;
}

table a {
    padding: 15px 30px;
}

p,
li {
    font-size: 120%;
}

.card-header {
    background-color: #FAC035;
}

h3 {
    color: black;
    font-weight: bolder;
}

.table {
    background-color: rgba(255, 255, 255, 0.541);
}

.btn {
    font-size: 200%;
    width: 100%;
}

td,
h3 {
    text-align: center;
}

.right {
    background-color: rgba(255, 255, 255, 0.541);
}

.inline {
    width: auto;
    font-size: 1.5rem;
}

ul li {
    position: relative;
    overflow: hidden;
}

ol li {
    position: relative;
    left: 20px;
}

.table-striped td,
th {
    font-size: 120%;
}

.fixed {
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 25%;
    border-radius: 10px;
}

.btn-danger {
    padding: 15px 25px;
    /* font-size: 24px; */
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #c5193e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(97, 96, 96);
}

.btn-danger:hover {
    background-color: #e9b335
}

.btn-danger:active {
    background-color: #e7b030;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* .bg-warning {
    background-color: #FAF9F8
} */